# Número de refugiados com carteira assinada no Brasil cresce 150 vezes em 10 anos

####  Em 2011, o total de refugiados ou solicitantes de refúgio que trabalhavam formalmente no Brasil somava 210. O número saltou para 30,7 mil em 2020, e o perfil dessas pessoas também mudou

Este notebook apresenta a análise dos dados da Relação Anual de Informações Sociais (RAIS), do Ministério da Economia, compilados pelo Observatório das Migrações Internacionais (OBMigra).


Ela deu origem à reportagem intitulada "Número de refugiados com carteira assinada no Brasil cresce 150 vezes em 10 anos", realizada como parte do Trabalho de Conclusão de Curso do MBA em Jornalismo de Dados no Instituto Brasileiro de Ensino, Desenvolvimento e Pesquisa (IDP), dos alunos Filipo Cunha, Gabriela Custódio e Mariana Hallal. O trabalho teve orientação de Adriano Belisário e Vinícius Sueiro.

In [1]:
import pandas as pd

In [4]:
lista_df = []
for ano in range(2011, 2021, 1):
    df = pd.read_csv("dados/RAIS_CTPS_ESTOQUE_2011.csv", sep=";", encoding="latin1")
    lista_df.append(df)

In [2]:
pd.read_csv("dados/RAIS_CTPS_ESTOQUE_2011.csv", sep=";", encoding="latin1")

,pais,continente,sexo,faixa_etaria,raca_cor,nivel_instrucao,status_migratorio,cbo_ocupacao_2002,cnae_2_0_classe,uf,municipio,natureza_juridica,vl_remun_dezembro_nom,vl_remun_dezembro_sm,vl_remun_media_nom,vl_remun_media_sm,cnae_2_0_subclasse,tempo_emprego,tipo_vinculo,faixa_horas_contrat
0,NÃO ESPECIFICADO,AMÉRICA NÃO ESPECIFICADO,1,4,99,6,Sem informação,225125,84116,11,110004,1031,"9622,82","17,65","10149,84","18,61",8411600,"5,9",31,5
1,NÃO ESPECIFICADO,AMÉRICA NÃO ESPECIFICADO,1,6,2,2,Sem informação,641010,46320,11,110004,2062,"1548,72","2,84","1278,73","2,34",4632003,"7,9",10,6
2,BOLÍVIA,AMÉRICA DO SUL,1,4,2,2,Sem informação,521125,47121,11,110010,2135,"715,65","1,31","695,58","1,27",4712100,"4,9",10,6
3,BOLÍVIA,AMÉRICA DO SUL,1,5,2,4,Sem informação,524105,46371,11,110010,2062,"764,52","1,4","793,71","1,45",4637105,"51,9",10,6
4,BOLÍVIA,AMÉRICA DO SUL,2,6,99,4,Sem informação,322230,84116,11,110010,1031,"1321,7","2,42","985,86","1,8",8411600,"143,9",30,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70702,REPÚBLICA DOMINICANA,AMÉRICA CENTRAL E CARIBE,1,4,9,4,Permanente,141510,55108,29,888888,2062,"4722,12","8,66","4758,02","8,73",5510801,"30,9",10,6
70703,EQUADOR,AMÉRICA DO SUL,1,4,8,6,Permanente,212205,9106,29,888888,2062,7020,"12,88","4509,57","8,27",910600,"27,6",10,5
70704,ROMÊNIA,EUROPA,2,4,99,6,Permanente,262615,84124,29,888888,1147,"5401,35","9,91","5109,95","9,38",8412400,"22,5",35,4
70705,MÉXICO,AMÉRICA DO NORTE,1,6,2,6,Permanente,122205,20291,29,888888,2054,"62551,86","114,77","39952,2","73,4",2029100,"31,3",10,5
70706,FILIPINAS,ÁSIA,1,4,9,6,Permanente,141205,29107,29,888888,2062,"19421,54","35,63","25674,97","47,15",2910701,"30,6",10,5

In [ ]:
# importando dados. mude o local de acordo com o local onde os dados estao armazenados em seu google drive.
# link para a pasta com os arquivos: https://drive.google.com/drive/u/0/folders/1oL1wA4u1pco-zL_X3bC4bBnteJB4JRXQ
dados2011 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2011.csv", sep=";", encoding="latin1")
dados2012 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2012.csv", sep=";", encoding="latin1")
dados2013 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2013.csv", sep=";", encoding="latin1")
dados2014 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2014.csv", sep=";", encoding="latin1")
dados2015 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2015.csv", sep=";", encoding="latin1")
dados2016 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2016.csv", sep=";", encoding="latin1")
dados2017 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2017.csv", sep=";", encoding="latin1")
dados2018 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2018.csv", sep=";", encoding="latin1")
dados2019 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2019.csv", sep=";", encoding="latin1")
dados2020 = pd.read_csv("/content/drive/MyDrive/tcc-filipo-gabriela-mariana/dados/RAIS_CTPS_ESTOQUE_2020.csv", sep=";", encoding="latin1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# criando uma nova coluna com o ano
dados2011["ano"] = "2011"
dados2012["ano"] = "2012"
dados2013["ano"] = "2013"
dados2014["ano"] = "2014"
dados2015["ano"] = "2015"
dados2016["ano"] = "2016"
dados2017["ano"] = "2017"
dados2018["ano"] = "2018"
dados2019["ano"] = "2019"
dados2020["ano"] = "2020"

In [ ]:
# juntando as tabelas
dados = pd.concat([dados2011, dados2012, dados2013, dados2014, dados2015, 
                   dados2016, dados2017, dados2018, dados2019, dados2020])

In [ ]:
# decifrando alguns dados
dados["nivel_instrucao"] = dados["nivel_instrucao"].replace([1, 2, 3, 4, 5, 6, 7], ["Sem instrução ou ensino fundamental incompleto", "Ensino fundamental completo", "Ensino médio incompleto", "Ensino médio completo", "Ensino superior incompleto", "Ensino superior completo", "Pós-graduação"])
dados["uf"] = dados["uf"].replace([12, 27, 13, 16, 29, 23, 53, 32, 52, 21, 31, 50, 51, 15, 25, 26, 22, 41, 33, 24, 11, 14, 43, 42, 28, 35, 17], ['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR', 'RS', 'SC', 'SE', 'SP', 'TO'])

In [ ]:
# decifrando alguns dados - 2020
dados2020["nivel_instrucao"] = dados2020["nivel_instrucao"].replace([1, 2, 3, 4, 5, 6, 7], ["Sem instrução ou ensino fundamental incompleto", "Ensino fundamental completo", "Ensino médio incompleto", "Ensino médio completo", "Ensino superior incompleto", "Ensino superior completo", "Pós-graduação"])
dados2020["uf"] = dados2020["uf"].replace([12, 27, 13, 16, 29, 23, 53, 32, 52, 21, 31, 50, 51, 15, 25, 26, 22, 41, 33, 24, 11, 14, 43, 42, 28, 35, 17], ['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR', 'RS', 'SC', 'SE', 'SP', 'TO'])

In [ ]:
#ajustando numeros referentes a dinheiro
dados["vl_remun_media_sm"] = dados["vl_remun_media_sm"].str.replace(",", ".")
dados["vl_remun_media_sm"] = dados["vl_remun_media_sm"].astype(float)

dados2020["vl_remun_media_nom"] = dados2020["vl_remun_media_nom"].str.replace(",", ".")
dados2020["vl_remun_media_nom"] = dados2020["vl_remun_media_nom"].astype(float)

dados2020["vl_remun_media_sm"] = dados2020["vl_remun_media_sm"].str.replace(",", ".")
dados2020["vl_remun_media_sm"] = dados2020["vl_remun_media_sm"].astype(float)

In [ ]:
# Numero de refugiados ano a ano
total_ano = dados["ano"].value_counts()
total_ano = total_ano.to_frame()
total_ano = pd.DataFrame(total_ano.to_records())
total_ano.rename({"index": "ano", "ano": "total_ano"}, axis=1, inplace=True)
total_ano

    ano  total_ano
0  2020     201272
1  2019     165913
2  2018     143231
3  2015     135813
4  2017     130101
5  2014     124328
6  2016     120858
7  2013     100276
8  2012      81015
9  2011      70707

In [ ]:
# Por status migratorio e por ano

status_ano = dados.groupby(by=["ano", "status_migratorio"])["ano"].agg("count")
status_ano = status_ano.to_frame()
status_ano.rename({"ano": "total"}, axis=1, inplace=True)
status_ano = pd.DataFrame(status_ano.to_records())
status_ano = pd.merge(status_ano, total_ano, on="ano", how="left")
status_ano['porc'] = (status_ano['total']/status_ano['total_ano'])*100
status_ano

     ano                 status_migratorio  total  total_ano       porc
0   2011                       Fronteiriço    131      70707   0.185272
1   2011                        Permanente   7689      70707  10.874454
2   2011  Refugiado/solicitante de refúgio    240      70707   0.339429
3   2011                    Sem informação  60635      70707  85.755300
4   2011                        Temporário   2012      70707   2.845546
5   2012                       Fronteiriço    235      81015   0.290070
6   2012                        Permanente  14549      81015  17.958403
7   2012  Refugiado/solicitante de refúgio    518      81015   0.639388
8   2012                    Sem informação  62182      81015  76.753688
9   2012                        Temporário   3531      81015   4.358452
10  2013                       Fronteiriço    398     100276   0.396905
11  2013                          Ignorado      4     100276   0.003989
12  2013                        Permanente  26148     100276  26.076030
13  2013  Refugiado/solicitante de refúgio   2344     100276   2.337548
14  2013                    Sem informação  66593     100276  66.409709
15  2013                        Temporário   4789     100276   4.775819
16  2014                       Fronteiriço    594     124328   0.477768
17  2014                          Ignorado     10     124328   0.008043
18  2014                        Permanente  42759     124328  34.392092
19  2014  Refugiado/solicitante de refúgio   5114     124328   4.113313
20  2014                    Sem informação  69967     124328  56.276141
21  2014                        Temporário   5884     124328   4.732643
22  2015                       Fronteiriço    699     135813   0.514678
23  2015                          Ignorado      8     135813   0.005890
24  2015                        Permanente  52448     135813  38.617805
25  2015  Refugiado/solicitante de refúgio   6516     135813   4.797773
26  2015                    Sem informação  70718     135813  52.070126
27  2015                        Temporário   5424     135813   3.993727
28  2016                       Fronteiriço    717     120858   0.593258
29  2016                          Ignorado      7     120858   0.005792
30  2016                        Permanente  44753     120858  37.029406
31  2016  Refugiado/solicitante de refúgio   6603     120858   5.463436
32  2016                    Sem informação  65003     120858  53.784607
33  2016                        Temporário   3775     120858   3.123500
34  2017                       Fronteiriço    752     130101   0.578012
35  2017                          Ignorado      5     130101   0.003843
36  2017                        Permanente  53346     130101  41.003528
37  2017  Refugiado/solicitante de refúgio   8540     130101   6.564131
38  2017                    Sem informação  63781     130101  49.024220
39  2017                        Temporário   3677     130101   2.826266
40  2018                       Fronteiriço    879     143231   0.613694
41  2018                          Ignorado      7     143231   0.004887
42  2018                        Permanente  60976     143231  42.571790
43  2018  Refugiado/solicitante de refúgio  14560     143231  10.165397
44  2018                    Sem informação  61747     143231  43.110081
45  2018                        Temporário   5062     143231   3.534151
46  2019                       Fronteiriço    867     165913   0.522563
47  2019                          Ignorado      5     165913   0.003014
48  2019                        Permanente  58939     165913  35.524040
49  2019  Refugiado/solicitante de refúgio  22807     165913  13.746361
50  2019                    Sem informação  70171     165913  42.293853
51  2019                        Temporário  13124     165913   7.910170
52  2020                       Fronteiriço    734     201272   0.364681
53  2020                          Ignorado      6     201272   0.002981
54  2020                        Permanente  61241     201272  30.426984
55  2020  Refugiado/solicitante de refúgio  30795     201272  15.300191
56  2020                    Sem informação  89333     201272  44.384216
57  2020                        Temporário  19163     201272   9.520947

In [ ]:
# Por pais e ano

pais_ano = dados.groupby(by=["ano", "pais"])["ano"].agg("count")
pais_ano = pais_ano.to_frame()
pais_ano.rename({"ano": "total"}, axis=1, inplace=True)
pais_ano = pd.DataFrame(pais_ano.to_records())
pais_ano = pd.merge(pais_ano, total_ano, on="ano", how="left")
pais_ano['porc'] = (pais_ano['total']/pais_ano['total_ano'])*100
pais_ano

       ano           pais  total  total_ano      porc
0     2011    AFEGANISTÃO      2      70707  0.002829
1     2011        ALBÂNIA      2      70707  0.002829
2     2011       ALEMANHA   1866      70707  2.639060
3     2011        ANDORRA      1      70707  0.001414
4     2011         ANGOLA    371      70707  0.524701
...    ...            ...    ...        ...       ...
1472  2020       ZIMBABWE      1     201272  0.000497
1473  2020         ZÂMBIA      1     201272  0.000497
1474  2020  ÁFRICA DO SUL    222     201272  0.110299
1475  2020        ÁUSTRIA     23     201272  0.011427
1476  2020          ÍNDIA    390     201272  0.193768

[1477 rows x 5 columns]

In [ ]:
#Haiti
pais_ano[pais_ano["pais"] == "HAITI"]

       ano   pais  total  total_ano       porc
54    2011  HAITI    670      70707   0.947572
186   2012  HAITI   3617      81015   4.464605
328   2013  HAITI  12495     100276  12.460609
475   2014  HAITI  26689     124328  21.466604
628   2015  HAITI  37298     135813  27.462761
779   2016  HAITI  28395     120858  23.494514
929   2017  HAITI  38288     130101  29.429443
1078  2018  HAITI  48644     143231  33.961922
1229  2019  HAITI  52841     165913  31.848619
1384  2020  HAITI  70507     201272  35.030705

In [ ]:
#Venezuela
pais_ano[pais_ano["pais"] == "VENEZUELA"]

       ano       pais  total  total_ano       porc
122   2011  VENEZUELA    376      70707   0.531772
261   2012  VENEZUELA    512      81015   0.631982
409   2013  VENEZUELA    596     100276   0.594360
559   2014  VENEZUELA    688     124328   0.553375
713   2015  VENEZUELA    913     135813   0.672248
862   2016  VENEZUELA   1326     120858   1.097155
1010  2017  VENEZUELA   2756     130101   2.118354
1162  2018  VENEZUELA   7382     143231   5.153912
1314  2019  VENEZUELA  17807     165913  10.732733
1470  2020  VENEZUELA  33173     201272  16.481677

In [ ]:
# Profissoes que os refugiados mais conseguem emprego
# 1012101: abate de aves
# 1012103: abate de suínos (frigorífico)
# 5611201: restaurantes
# 4120400: construção de edificios

dados2020[dados2020["status_migratorio"] == "Refugiado/solicitante de refúgio"]["cnae20"].value_counts(normalize=True)

1012101    0.124663
1012103    0.092645
5611201    0.041792
4711302    0.034096
4120400    0.025686
             ...
4623102    0.000032
6619302    0.000032
9001999    0.000032
4684201    0.000032
133410     0.000032
Name: cnae20, Length: 842, dtype: float64

In [ ]:
# Profissoes que os refugiados mais conseguem emprego em Santa Catarina
# 1012103: abate de suínos (frigorífico)
# 1012101: abate de aves
# 4639701: comércio atacadista
# 5611201: restaurantes

dados2020[(dados2020["status_migratorio"] == "Refugiado/solicitante de refúgio") & 
          (dados2020["uf"] == "SC")]["cnae20"].value_counts(normalize=True)

1012103    0.214627
1012101    0.192384
4639701    0.056597
5611201    0.024572
4120400    0.022359
             ...
6190601    0.000116
4674500    0.000116
3299004    0.000116
2930103    0.000116
4692300    0.000116
Name: cnae20, Length: 466, dtype: float64

In [ ]:
# Profissoes que os Haitianos mais conseguem emprego em Chapecó
# 1012103: abate de suínos (frigorífico)
# 1012101: abate de aves
# 1013901: Fabricação de produtos de carne
# 4120400: construção de edifícios

dados2020[(dados2020["pais"] == "HAITI") & 
          (dados2020["municipio"] == 4204202)]["cnae20"].value_counts(normalize=True)

1012103    0.668464
1012101    0.240117
1013901    0.024483
4120400    0.011231
2330301    0.004717
             ...
4639701    0.000225
6209100    0.000225
3321000    0.000225
4530701    0.000225
4665600    0.000225
Name: cnae20, Length: 75, dtype: float64

In [ ]:
#migrantes por uf
uf_migrantes = dados2020["uf"].value_counts()
uf_migrantes = uf_migrantes.to_frame()
uf_migrantes = pd.DataFrame(uf_migrantes.to_records())
uf_migrantes.rename({"index": "uf", "uf": "total"}, axis=1, inplace=True)
uf_migrantes

    uf  total
0   SP  55959
1   SC  40602
2   PR  27761
3   RS  21724
4   RJ  11769
5   MG   8893
6   AM   5164
7   MS   4927
8   MT   4746
9   RR   3774
10  DF   2844
11  GO   2772
12  BA   2559
13  ES   1324
14  CE   1210
15  PE   1143
16  RO   1083
17  PA    734
18  RN    490
19  PB    437
20  AL    260
21  SE    256
22  AC    233
23  TO    200
24  MA    193
25  PI    110
26  AP    104
27  99      1

In [ ]:
# salario medio geral de quem tem ensino superior completo
dados2020_superior = dados2020[dados2020["nivel_instrucao"] == "Ensino superior completo"]
dados2020_superior["vl_remun_media_sm"].mean()

13.198469941257343

In [ ]:
# salario medio geral
dados2020["vl_remun_media_sm"].mean()

4.420499026193409

In [ ]:
# salario medio geral de quem tem ensino superior completo por pais
dados2020_superior_pais = dados2020_superior.groupby(by=["pais"])["vl_remun_media_sm"].agg(["mean", "count"])
dados2020_superior_pais = pd.DataFrame(dados2020_superior_pais.to_records())
dados2020_superior_pais

              pais       mean  count
0      AFEGANISTÃO   1.380000      1
1          ALBÂNIA   4.590000      1
2         ALEMANHA  32.557532    782
3           ANGOLA   5.753649    485
4        ARGENTINA  19.204380   3048
..             ...        ...    ...
132         VIETNÃ   1.140000      2
133         ZÂMBIA  24.370000      1
134  ÁFRICA DO SUL  10.461081     74
135        ÁUSTRIA  15.405000     10
136          ÍNDIA  19.430391    256

[137 rows x 3 columns]

In [ ]:
# salario mediano por continente de origem e grau de instrucao, em 2020
instrucao_cont_mediano = dados2020.groupby(by=["continente", "nivel_instrucao"])["vl_remun_media_sm"].agg(["median", "count"])
instrucao_cont_mediano = pd.DataFrame(instrucao_cont_mediano.to_records())
instrucao_cont_mediano

,continente,nivel_instrucao,median,count
0,AMÉRICA CENTRAL E CARIBE,Ensino fundamental completo,1.42,11497
1,AMÉRICA CENTRAL E CARIBE,Ensino médio completo,1.36,32100
2,AMÉRICA CENTRAL E CARIBE,Ensino médio incompleto,1.39,7873
3,AMÉRICA CENTRAL E CARIBE,Ensino superior completo,1.60,2011
4,AMÉRICA CENTRAL E CARIBE,Ensino superior incompleto,1.46,899
...,...,...,...,...
63,ÁSIA,Ensino médio incompleto,1.36,368
64,ÁSIA,Ensino superior completo,8.48,3428
65,ÁSIA,Ensino superior incompleto,1.63,455
66,ÁSIA,Pós-graduação,11.52,218
67,ÁSIA,Sem instrução ou ensino fundamental incompleto,1.75,353

In [ ]:
# salario medio por continente de origem e grau de instrucao, em 2020
instrucao_cont_ano_medio = dados2020.groupby(by=["continente", "nivel_instrucao"])["vl_remun_media_sm"].agg(["mean", "count"])
instrucao_cont_ano_medio = pd.DataFrame(instrucao_cont_ano_medio.to_records())
instrucao_cont_ano_medio

,continente,nivel_instrucao,mean,count
0,AMÉRICA CENTRAL E CARIBE,Ensino fundamental completo,1.430737,11497
1,AMÉRICA CENTRAL E CARIBE,Ensino médio completo,1.373623,32100
2,AMÉRICA CENTRAL E CARIBE,Ensino médio incompleto,1.391134,7873
3,AMÉRICA CENTRAL E CARIBE,Ensino superior completo,3.520806,2011
4,AMÉRICA CENTRAL E CARIBE,Ensino superior incompleto,1.544905,899
...,...,...,...,...
63,ÁSIA,Ensino médio incompleto,1.467065,368
64,ÁSIA,Ensino superior completo,16.604460,3428
65,ÁSIA,Ensino superior incompleto,3.064857,455
66,ÁSIA,Pós-graduação,19.304862,218
67,ÁSIA,Sem instrução ou ensino fundamental incompleto,2.808867,353

In [ ]:
# salario mediano por pais de origem, em 2020
media_pais = dados2020.groupby(by=["pais", "ano", "continente"])["vl_remun_media_sm"].agg(["mean", "count"])
media_pais = pd.DataFrame(media_pais.to_records())
media_pais = media_pais[media_pais["count"] > 999]
media_pais

                        pais   ano                continente       mean  count
2                   ALEMANHA  2020                    EUROPA  25.776224   1181
3                     ANGOLA  2020                    ÁFRICA   2.585366   2106
4                  ARGENTINA  2020            AMÉRICA DO SUL  10.371667   7362
15                   BOLÍVIA  2020            AMÉRICA DO SUL   4.494190   5026
28                     CHILE  2020            AMÉRICA DO SUL   7.026271   2950
29                     CHINA  2020                      ÁSIA   8.605135   2888
31                  COLÔMBIA  2020            AMÉRICA DO SUL   8.830821   3034
38                      CUBA  2020  AMÉRICA CENTRAL E CARIBE   2.783806   2428
46                   ESPANHA  2020                    EUROPA  16.534224   1508
48            ESTADOS UNIDOS  2020          AMÉRICA DO NORTE  20.642738   1680
53                    FRANÇA  2020                    EUROPA  23.131245   1446
64                     HAITI  2020  AMÉRICA CENTRAL E CARIBE   1.416626  70507
74                    ITÁLIA  2020                    EUROPA  12.631917   1972
78                     JAPÃO  2020                      ÁSIA   9.287021   2612
101  NATURALIDADE BRASILEIRA  2020   NATURALIDADE BRASILEIRA   5.910754  19887
107         NÃO ESPECIFICADO  2020  AMÉRICA NÃO ESPECIFICADO  11.683085   2697
109         NÃO ESPECIFICADO  2020          NÃO ESPECIFICADO  11.711563   2130
110         NÃO ESPECIFICADO  2020                    ÁFRICA   3.037085   1156
115                 PARAGUAI  2020            AMÉRICA DO SUL   1.954333   8138
116                     PERU  2020            AMÉRICA DO SUL   5.664030   4350
118                 PORTUGAL  2020                    EUROPA   8.072823   5806
130                  SENEGAL  2020                    ÁFRICA   1.781402   2183
152                  URUGUAI  2020            AMÉRICA DO SUL   4.278355   3866
154                VENEZUELA  2020            AMÉRICA DO SUL   1.612942  33173

In [ ]:
dados2020["vl_remun_media_nom"] = dados2020["vl_remun_media_nom"].str.replace(",", ".")
dados2020["vl_remun_media_nom"] = dados2020["vl_remun_media_nom"].astype(float)